<div class="row col-md-12">
<h1>EY</h1>
EY Logo Beam Tag Stacked RGB EN.png
Type
Member firms have different legal structures
(USA and UK: Limited Liability Partnership)
Industry    Professional services
Founded 1989; 29 years ago (through the merger of Ernst & Whinney and Arthur Young & Co. Oldest component from 1849)[1]
Headquarters    6 More London Place
London
SE1 2AF
United Kingdom[1]
Area served
Worldwide
Key people
Mark Weinberger (Chairman & CEO)[2]
Services    Assurance
Tax Advisory
Consulting
Financial Advisory
Legal
Revenue Increase US$31.4 billion (2017)[3]
Owner   Ernst & Young LLP.
Number of employees
250,000 (2017)[4]
Divisions   Assurance, Advisory, Transaction Advisory Services, Tax, Legal
Website www.ey.com
Ernst & Young (doing business as EY) is a multinational professional services firm headquartered in London, England. EY is one of the largest professional services firms in the world and is one of the "Big Four" accounting firms.

EY operates as a network of member firms which are separate legal entities in individual countries. It has 250,000 employees in over 700 offices around 150 countries in the world. It provides assurance (including financial audit), tax, consulting and advisory services to companies.[5]

The firm dates back to 1849 with the founding of Harding & Pullein in England. The current firm was formed by a merger of Ernst & Whinney and Arthur Young & Co. in 1989.[6] It was known as Ernst & Young until 2013, when it underwent a rebranding to EY. The acronym "EY" was already an informal name for the firm prior to its official adoption.[7]

In 2017, Fortune magazine ranked EY 29th on the 100 Best Companies to Work For list.[8] In 2016, EY was the 11th largest privately owned organization in the United States.
</div>

